<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://legacybox.com/cdn/shop/articles/LBFilmReel_1024x1024.jpg?v=1563402798);">
  <div class="container">
    <h1><%= @list.name %></h1>
    <p><%= @list.movies.count %> movies</p>
  </div>
</div>
<div class="d-flex justify-content-end">
  <%= link_to "Add movie", new_list_bookmark_path(@list), class: "btn btn-success d-flex" %>
</div>

<div class="d-flex">
  <div class="container mt-3">
    <div class="row justify-content-center">
      <% @list.bookmarks.each do |bookmark| %>
        <div class="card-movie">
          <img src="<%= bookmark.movie.poster_url %>" />
          <div class="card-movie-infos d-flex">
            <div>
              <h2><%= bookmark.movie.title %>  <%= bookmark.movie.rating.round(1) %> ⭐️</h2>
              <%= bookmark.movie.overview %> <br>
            </div>
          </div>
            <div class="d-flex align-items-end mb-2">
              <em>"<%= bookmark.comment %>"</em> <br>
              <%= link_to "delete", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "m-1" %>
            </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
